{% extends "student/Student_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{assignment_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Teacher name</th>
      <th scope="col">Assignment number</th>
      <th scope="col">Assignment Description</th>
      <th scope="col">Assignment File</th>
      <th scope="col">Assignment DueDate</th>




    </tr>
  </thead>
  <tbody>
  {% for data1 in pending_assignments %}
    <tr>
      <td>{{data1.teacher}}</td>
      <td>{{data1.assignment_title}}</td>
      <td>{{data1.assignment_description}}</td>
      <td><a href="{{data1.assignment_file.url}}">view file</a> </td>
      <td>{{data1.assignment_due_date}}</td>




    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}