{% extends "student/Student_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert" id="popupMessage">
  {{ message }}
</div>
{% endfor %}

<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{assignment_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Student name</th>
      <th scope="col">Assignment number</th>
      <th scope="col">Submit_file</th>
      <th scope="col">Submit_date</th>
      <th scope="col">Text</th>

      <th scope="col">Update</th>


    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>
      <td>{{data1.student}}</td>
      <td>{{data1.assignment}}</td>
      <td><a href="{{data1.submit_file.url}}">view file</a> </td>
      <td>{{data1.submit_date}}</td>
      <td>{{data1.text}}</td>
         <td><a href="{% url 'updatesubmitassignment' data1.id %}"><button class="btn btn-warning">update</button></a></td>



    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}