{% extends "student/Student_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--{% for message in messages %}-->
<!--<div class="alert alert-primary alert-dismissible fade show" role="alert" id="popupMessage">-->
<!--  {{ message }}-->
<!--</div>-->
<!--{% endfor %}-->



<table class="table" >
  <thead>
    <tr>
      <th scope="col">AssignmentTitle</th>
      <th scope="col">Teacher</th>
      <th scope="col">Assignment Description</th>
      <th scope="col">Assignment File</th>
      <th scope="col">Assignment DueDate</th>
      <th scope="col">Created at</th>

      <th scope="col">Department</th>
      <th scope="col">Submit</th>


    </tr>
  </thead>
  <tbody>
  {% for data1 in assignments %}
    <tr>
      <td>{{data1.assignment_title}}</td>
      <td>{{teacher.Teacher_name}}</td>
      <td>{{data1.assignment_description}}</td>
      <td><a href="{{data1.assignment_file.url}}">view file</a> </td>
      <td>{{data1.assignment_due_date}}</td>
      <td>{{data1.created_at}}</td>

      <td>{{data1.department}}</td>
      {% if today < data1.assignment_due_date %}
         <td><a href="{% url 'submitassignment' data1.id %}"><button class="btn btn-warning">submit</button></a></td>
      {% else %}
          <td><span class="text-danger">Due date is passed </span></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}