{% extends "teacher/Teacher_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{department_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Department Name</th>
      <th scope="col">Department Email</th>
      <th scope="col">Department Phone Number</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>
      <th scope="row"></th>
      <td>
<!--        <img src="#" class="rounded-circle" width="100" height="100" alt="Teacher_image">-->
      </td>
      <td>{{data1.Department_name}}</td>
      <td>{{data1.Department_Email}}</td>
      <td>{{data1.Department_Phone_Number}}</td>

      <td><a href="{% url 'filterstudent' data1.id %}"><button class="btn btn-warning">View Student</button></a></td>
      <td><a href="{% url 'submittedassignment' data1.id %}"><button class="btn btn-warning">View Submitted Assignment</button></a></td>



    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}