{% extends "teacher/Teacher_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{assignment_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Assignment Title</th>
      <th scope="col">Assignment Description</th>
<!--      <th scope="col">assignment_file</th>-->
      <th scope="col">Assignment Due Date</th>
      <th scope="col">Created at</th>
      <th scope="col">Teacher</th>
      <th scope="col">Department</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>
      <td>{{data1.assignment_title}}</td>
      <td>{{data1.assignment_description}}</td>
<!--      <td>{{data1.assignment_file}}</td>-->
      <td>{{data1.assignment_due_date}}</td>
      <td>{{data1.created_at}}</td>
      <td>{{data1.teacher}}</td>
      <td>{{data1.department}}</td>

      <td><a href="{% url 'updateassignment' data1.id %}"><button class="btn btn-warning">update</button></a></td>
      <td><a href="{% url 'deleteassignment' data1.id %}"><button class="btn btn-warning">delete</button></a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}