{% extends "teacher/Teacher_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}


<h3>Submissions for {{ department.Department_name }}</h3>

<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{submission_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Student Name</th>
      <th scope="col">Assignment Name</th>
      <th scope="col">Submitted Date</th>
      <th scope="col">File</th>
      <th scope="col">Text</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  {% for data1 in submission %}
    <tr>
<!--      <th scope="row"></th>-->
<!--      <td>-->
<!--&lt;!&ndash;        <img src="#" class="rounded-circle" width="100" height="100" alt="Teacher_image">&ndash;&gt;-->
<!--      </td>-->
      <td>{{data1.student}}</td>
      <td>{{data1.assignment}}</td>
      <td>{{data1.submit_date}}</td>
      <td><a href="{{data1.submit_file.url}}">view file</a> </td>
      <td>{{data1.text}}</td>

<!--      <td><a href="#"><button class="btn btn-warning">View submitted assignment</button></a></td>-->


    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}