{% extends "admin/admin_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{department_filter.form}}
                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone_Number</th>
      <th scope="col">UPDATE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>

      <td>{{data1.Department_name}}</td>
      <td>{{data1.Department_Email}}</td>
      <td>{{data1.Department_Phone_Number}}</td>

      <td><a href="{% url 'departmentupdate' data1.id %}"><button class="btn btn-warning">Update</button></a></td>
      <td><a href="{% url 'departmentdelete' data1.id %}"><button class="btn btn-danger">Delete</button></a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}