{% extends "admin/admin_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Student_image</th>
      <th scope="col">Student_name</th>
      <th scope="col">Student_Email</th>
      <th scope="col">Student_Phone_number</th>
      <th scope="col">Student_department</th>
      <th scope="col">UPDATE</th>
      <th scope="col">DELETE</th>
    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>

      <td>
        <img src="{{data1.Student_image.url}}" class="rounded-circle" width="100" height="100" alt="Teacher_image">
      </td>
      <td>{{data1.Student_name}}</td>
      <td>{{data1.Student_Email}}</td>
      <td>{{data1.Student_Phone_number}}</td>
      <td>{{data1.Student_department}}</td>

      <td><a href="{% url 'studentupdate' data1.id %}"><button class="btn btn-warning">Update</button></a></td>
      <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}