{% extends "admin/admin_Basepage.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center">
<form method="get" class="form-inline  search-form" style="float:right;">
                    <div class="md-form my-0 d-flex justify-content-center">

                        {{student_filter.form}}

                        <button class="btn btn-success" type="submit">Search</button>
                    </div>
                </form>
  </div>

<table class="table" >
  <thead>
    <tr>
      <th scope="col">Student Profile</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student Email</th>
      <th scope="col">Student Phone number</th>
      <th scope="col">Student department</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for data1 in data %}
    <tr>

      <td>
        <img src="{{data1.Student_image.url}}" class="rounded-circle" width="100" height="100" alt="Teacher_image">
      </td>
      <td>{{data1.Student_name}}</td>
      <td>{{data1.Student_Email}}</td>
      <td>{{data1.Student_Phone_number}}</td>
      <td>{{data1.Student_department}}</td>

      <td><a href="{% url 'studentupdate' data1.id %}"><button class="btn btn-warning">Update</button></a></td>
      <td><a href="#"><button class="btn btn-danger">Delete</button></a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}